<h1>Create company</h1>

<%= form_for(@company) do |f| %>
  <%# <%= render 'shared/error_messages', object: f.object %> 
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :description %>
  <%= f.text_field :description, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :phone %>
  <%= f.phone_field :phone, class: 'form-control' %>
  
  <%= f.submit "Create company", class: "btn btn-primary" %>
<% end %>